version: "3.9"
x-logging: &logging
  logging:
    driver: json-file
    options:
      max-size: 100m
      max-file: "3"
      tag: {% raw %}'blockchain|validator_management|lighthouse|{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}'{% endraw %}

services:

  import-validator-keys:
    profiles: ["import-validator-keys"]
    restart: "no"
    image:  {{ lighthouse_docker_image }}
    user: "{{ validator_client_user.uid}}:{{ validator_client_group.gid }}"
    volumes:
      - {{ blockchain_root_path }}/validator/lighthouse:{{ lighthouse_data_dir }}:rw
      - {{ host_keystore_dir }}:{{ container_keystore_dir }}:ro
      - /etc/localtime:/etc/localtime:ro
    <<: *logging
    labels:
      slingnode_client: "lighthouse"
      slingnode_layer: "validator"
    command:
      - lighthouse
      - account
      - validator
      - import
      - --datadir={{ lighthouse_data_dir }}
      - --directory={{ container_keystore_dir }}
      - --network={{ network }}
      - --debug-level={{ lighthouse_log_level }}
      - --log-format=JSON
      - --reuse-password
      - --password-file={{ container_keystore_dir }}/{{ keystore_password_file }}


  import-slashing-protection-db:
    profiles: ["import-slashing-protection-db"]
    restart: "no"
    image:  {{ lighthouse_docker_image }}
    user: "{{ validator_client_user.uid}}:{{ validator_client_group.gid }}"
    volumes:
      - {{ blockchain_root_path }}/validator/lighthouse:{{ lighthouse_data_dir }}:rw
      - {{ host_slashing_protection_db_dir }}:{{ container_slashing_protection_db_dir }}:ro
      - /etc/localtime:/etc/localtime:ro
    <<: *logging
    labels:
      slingnode_client: "lighthouse"
      slingnode_layer: "validator"
    command:
      - lighthouse
      - account
      - validator
      - slashing-protection
      - import
      - --datadir
      - {{ lighthouse_data_dir }}
      - --network
      - {{ network }}
      - --debug-level
      - {{ lighthouse_log_level }}
      - --log-format
      - JSON
      - {{ container_slashing_protection_db_file }}


  export-slashing-protection-db:
    profiles: ["export-slashing-protection-db"]
    restart: "no"
    image:  {{ lighthouse_docker_image }}
    user: "{{ validator_client_user.uid}}:{{ validator_client_group.gid }}"
    volumes:
      - {{ blockchain_root_path }}/validator/lighthouse:{{ lighthouse_data_dir }}:rw
      - {{ host_slashing_protection_db_dir }}:{{ container_slashing_protection_db_dir }}:rw
      - /etc/localtime:/etc/localtime:ro
    <<: *logging
    labels:
      slingnode_client: "lighthouse"
      slingnode_layer: "validator"
    command:
      - lighthouse
      - account
      - validator
      - slashing-protection
      - export
      - --datadir
      - {{ lighthouse_data_dir }}
      - --network
      - {{ network }}
      - --debug-level
      - {{ lighthouse_log_level }}
      - --log-format
      - JSON
      - {{ container_slashing_protection_db_file }}
